---
import AboutAcordeon from "../utils/AboutAccordion.astro";

---

<section class="mb-section">
    <header class="mb-8 grid gap-4 md:grid-cols-2 md:gap-8">
        <h2 class="text-title">
            Pertanyaan Seputar Mandiri Kusen
        </h2>
        <p class="text-sm opacity-50 md:text-base">
           
        Dengan pengalaman lebih dari 10 tahun di bidang kusen, furniture, dan interior, kami selalu mengembangkan keahlian yang lebih dalam untuk memberikan solusi terbaik bagi Anda.
        </p>
    </header>
    <section class="grid gap-8 md:grid-cols-2">
        <AboutAcordeon open={1}/>
        <div class="w-full aspect-square rounded-br-[10rem] overflow-hidden">
            <img class="w-full h-full object-cover" src="images/buildings/lemari1.png" alt="some building">
        </div>
    </section>
</section>