---
import CheapButton from "../utils/CheapButton.astro";

---

<section class="mb-20">
	<h2 class="text-title mb-8">Hubungi Kami</h2>
        <div>
            <span class="block mb-2 opacity-80">kontak kami</span>
            <div class="flex items-end gap-4 flex-wrap text-sm">
                 <a href="https://wa.me/6285819871392" target="_blank">
                    <CheapButton>whatsapp</CheapButton>
                </a>
                <a href="mailto:komarudinasep903@gmail.com" target="_blank">
                    <CheapButton>email</CheapButton>
                </a>
                <a class="silver hover:brightness-150" href="https://maps.app.goo.gl/agUXzJcicgzLDhb99" target="_blank">
                    <CheapButton>alamat kami</CheapButton>
                </a>
            </div>
        </div>
	</form>
</section>
