---
import CheapButton from "../utils/CheapButton.astro";
import PortfolioCard from "../utils/PortfolioCard.astro";
---
<section class="mb-section">
    <h2 class="text-title mb-4">
        Service
    </h2>
    <div class="grid gap-8 mb-8 md:grid-cols-2">
        <p class="text-sm opacity-50">
          Menyediakan beragam jasa dan produk berkualitas tinggi dalam pembuatan kusen/furniture serta interior. Kami berkomitmen untuk menghadirkan solusi desain yang sesuai dengan keinginan dan kebutuhan Anda."
        </p>
        <aside class="flex flex-wrap gap-4 text-sm md:justify-items-end">
            <CheapButton>
                Coustum Furniture
            </CheapButton>
            <CheapButton>
               Kusen Bangunan
            </CheapButton>
            <CheapButton>
                Interior
            </CheapButton>
        </aside>
    </div>
    <div class="h-[40rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4 lg:grid-rows-2 [&>*]:overflow-hidden">
        <div class="w-full h-full lg:col-span-2">
            <PortfolioCard src="images/buildings/kayu1.png" alt="some building" title="Furniture"/>
        </div>
        <div class="w-full h-full lg:row-span-2">
            <PortfolioCard src="images/buildings/kayu2.png" alt="some building" title="Interior"/>
        </div>
        <div class="w-full h-full lg:row-span-2">
            <PortfolioCard src="images/buildings/kayu3.png" alt="some building" title="Furniture"/>
        </div>
        <div class="w-full h-full lg:col-span-2">
            <PortfolioCard src="images/buildings/kayu5.png" alt="some building" title="Furniture"/>
        </div>
    </div>
</section>