---
import "../global/styles/defaults.css"
import "../global/styles/custom.css"

export interface Props {
    title?: string
    description?: string
}

const {
    title = "Mandiri Kusen",
    description = "Buat furniture, interior dan custom furniture harga murah",
} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/logo1.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
     
	</head>
	<body class="text-neutral-50 bg-zinc-950 uppercase">
		<slot/>
	</body>
</html>
